body {
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div h2 {
  color: #bea67c;
  font-size: 5em;
}
